$white: #ffffff;
$lightblue: #61dafb;
$darkblue: #3322dd;
$lightgrey: #d9d9d9;
$darkgrey: #282c34;
$almostblack: #131313;

$--link-color: --link-color;
$--text-color: --text-color;
$--page-color: --page-color;

$darkmap: (
	$--link-color: $lightblue,
	$--text-color: $white,
	$--page-color: $darkgrey,
);

$lightmap: (
	$--page-color: $lightgrey,
	$--text-color: $almostblack,
	$--link-color: $darkblue,
);

@mixin spread-map($colormap: ()) {
	@each $key, $value in $colormap {
		#{$key}: $value;
	}
}

@function theme-var($key, $fallback: null, $map: $darkmap) {
	@if not map-has-key($map, $key) {
		@error "key: '#{$key}', is not a key in map: #{$map}";
	}
	@if ($fallback) {
		@return var($key, $fallback);
	} @else {
		@return var($key);
	}
}

.App-header {
	&.light-theme {
		@include spread-map($lightmap);
	}
	&.dark-theme {
		@include spread-map($darkmap);
	}
}

.App-header,
.App-header * {
	transition: background-color 1000ms !important;
	transition-delay: 0s !important;
}
